/.vs/Commercial_CMS/FileContentIndex/4ddf88c7-4f1e-44ac-a16d-ab53ce79ccd8.vsidx
/.vs/Commercial_CMS/FileContentIndex/17f4076e-aff5-4038-9234-8ce0fcb0a452.vsidx
/.vs/Commercial_CMS/DesignTimeBuild
/.vs
